@page
@model QueryString.Pages.QueryStringWriteModel
@{
}
<form method="get" action="QueryStringRead">

    name:<input type="text" name="myname" class="form-control"/>
    <input type="submit" value="add"/>
</form>