@page
@model Sessions.Pages.SessionWriteModel
@{
}


<form method="post">

    First name:<input asp-for="FName" type="text "/>
    Last name:<input asp-for="LName" type="text " />
    email:<input asp-for="Email" type="text " />
    <input type="submit" value="submit"/>

</form>