@page
@model Cookies.Pages.CookiesWriteModel
@{
}

<form method="post">

    Enter :<input asp-for="CookieName" type="text" class="form-control"/>
    <input type="submit" value="SetCookie"/>
    
</form>