@page
@model Cookies.Pages.CookiesWriteModel
@{
}



<form method="post">
    firstname:<input asp-for="firstname" class="form-control" />
    lastname:<input asp-for="lastname" class="form-control" />
    email:<input asp-for="email" class="form-control" />
    <input type="submit" value="save" class="btn btn-primary" />

</form>