@page
@model Cookies.Pages.CookiesWriteModel
@{
}



<form method="post">
    name:<input asp-for="CookiesName" class="form-control" />
    <input type="submit" value="save" class="btn btn-primary" />

</form>