@page
@model Adding5Stu.Pages.AddStudentModel
@{
}
<form method="post">


    Enter Name :<input name="Name" type="text" class="form-control"/>
    <input type="submit" value="Save" class="btn btn-warning" />
</form>

Students:@Model.Name;

